html {
  z-index: 1;
  background-image: url(/img/CartaCasaObduliaFondo.png);
}

a{
    text-decoration: none;
  }

.navbar {
    background-color: #8a8a8a;
    color: #fff;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 0 0;
    font-size: 20px;
  }

  .cuerpo{
    z-index: 2;
    background-color: #f0f0f0;
  }

  h3{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .formulario{
  margin-top: 10px;
  }

  form {
    position: absolute;
    top: 17%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .calendar {
    width: 350px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center; /* Centramos el texto del calendario */
  }
  
  .month {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .prev-month,
  .next-month {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev-month {
    left: -30px; 
  }
  
  .next-month {
    right: -30px; 
  }
  
  .weekdays {
    display: none;
  }
  
  .days {
    display: grid;
    grid-template-columns: min-content repeat(6, 1fr);
    gap: 9px;
  }
  
  .day {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
  }
  
  .day .weekday {
    text-align: center;
    background-color: #f0f0f0;
    padding: 5px;
    width: 50px;
  }
  
  .day .number {
    text-align: center;
    flex-grow: 1;
  }
  