:root {
    --BaseColor: darkgoldenrod;
    --FuentePrincipal: Arial, Helvetica, sans-serif;
}

/* ESTILOS BASICOS DE LA PAGINA */

html {
    background-color: rgba(181, 181, 181, 0.364);
    box-sizing: border-box;
}

.contenedor {
    width: 60%;
    margin: 0 auto;
}

.contenedorancho{
    width: 78%;
    margin: 20px auto;
    border-radius: 10px;
}

.divhorizontal{
border: 1px solid rgb(130, 130, 130);
}

*, *::after, *::before{
    box-sizing:inherit;
}

a {
    text-decoration: none;
}

/* ESTILOS NAVBAR */

.navbar {
    font-family: var(--FuentePrincipal);
    color: var(--BaseColor);
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    padding-top: 20px;
}

.navbar a {
    font-size: 18px;
    color: rgb(221, 200, 41);
    background-color: rgba(99, 95, 95, 0.833);
    padding: 8px;
    border-radius: 8px;
}

/* ESTILOS INFO */

h1 {
    color: rgb(68, 113, 218);
    font-family: Pacifico;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-shadow: 8px 4px 8px rgba(20, 20, 119, 0.298);
}

.cabesa {
    background-image: url(../img/CasaObduliaInterior.jpg);
    background-size: cover;
    background-repeat: none;
    padding: 400px 200px;
    border-radius: 10px;
}

.info {
    display: flex;
}

.info div {
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    padding-right: 2px;
    padding-left: 6px;
    margin: 5px 5px;
}

.textinfo {
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(5%, rgba(242, 246, 248, 1)), color-stop(42%, rgba(216, 225, 231, 1)), color-stop(73%, rgba(181, 198, 208, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
    font-size: 22px;
    font-family: var(--FuentePrincipal);
    border-radius: 20px;
    font-weight: 500;
    line-height: 1;
    color: rgb(27, 44, 88);
}

.infoto {
    background-image: url(../img/FotoPlato1.png);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 400px;
    border-radius: 20px;
}

/* ESTILOS SECCION IMAGENES (PLATOS) */

.platos img{
    border-radius: 15px;
    padding-left:7px;
}

/* ESTILOS SECCION EXTRA */

.extra{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.extra h3{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 800;
}

.extra h3::before{
    content: url(../img/infoicon.png);
    padding-top: 40px;
    padding-right: 10px;
    margin-top: 10px;
}

.exizq p{
    font-size: 20px;
    padding-left: 50px;
    font-weight: 800;
}

.exder{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2px;
}