:root {
    --BaseColor: rgb(16, 87, 180);
    --FuentePrincipal: Arial, Helvetica, sans-serif;
}

/* las medida-quertys genericas (tamaño de pagina) son: 1140px en PC, 768px en tablet y 480px para moviles */

/* ESTILOS BASICOS DE LA PAGINA */

html {
    background-color: rgba(181, 181, 181, 0.364);
    box-sizing: border-box;
}

body img{
    max-width: 100%;
}
.contenedor {
    width: 60%;
    margin: 0 auto;
}

.contenedorancho {
    width: 78%;
    margin: 20px auto;
    border-radius: 10px;
}

.divhorizontal {
    border: 1px solid rgb(130, 130, 130);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/*---------------------------------------------------------------------------------
    @MEDIA ESTILOS BASICOS DE LA PAGINA*/

@media(max-width:1140px) {
    .contenedor {
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width:768px) {
    .contenedor {
        width: 100%;
        margin: 0 auto;
    }

    .divhorizontal {
        max-width: 90%;
    }
}

/* ------------------------------------------------------------------------------ */

/* ESTILOS NAVBAR */

/* NAV CON .DROPDOWN Y .DROPDOW-CONTENT 
SE DESPLIEGA AL PASAR EL PUNTERO POR ENCIMA.
** FALLO ** -> NO SE VEN LAS LETRAS DEL DESPLEGABLE POR CULPA DE LA IMAGEN */
/* nav{
    padding: 20px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #1e378a;
  } */

/*---------------------------------------------------------------------------------*/

/* NAV CON BOTONES BASICOS (FUNCIONAL)
    USA LA CLASE NAVBAR */

.navbar {
    font-family: var(--FuentePrincipal);
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    padding-top: 20px;
    position: fixed;
    margin-left: 385px;
}
.navbar div{
        position: absolute;
}

.navbar a {
    font-size: 18px;
    color: var(--BaseColor);
    background-color: rgba(255, 255, 255, 0.918);
    padding: 8px;
    border-radius: 8px;
}

.navbar a:hover {
    color: white;
    background-color: var(--BaseColor);
}

/* ------------------------------------------------------------------------------
    @MEDIA ESTILOS NAVBAR */
@media (max-width:1140px){
    .navbar{
        margin-left: 130px;
    }
}
@media (max-width:768px) {
    .navbar {
        margin-left: 0px;
    }
}

/* ------------------------------------------------------------------------------ */

/* ESTILOS HEADER (CABESA) */
.cabesa {
    background-image: url(../img/CasaObduliaInterior.jpg);
    background-size: cover;
    background-repeat: none;
    padding: 400px 200px;
    border-radius: 10px;
}

.cabesaContacto {
    background-image: url(../img/FachadaCasaObdulia.jpg);
    background-size: cover;
    background-repeat: none;
    padding: 400px 200px;
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------
    @MEDIA ESTILOS HEADER / CABESA */

@media (max-width:768px) {
    .cabesa {
        padding: 200px 120px;
    }
}

/* --------------------------------------------------------------------------- */

/* ESTILOS DE ENCABEZADOS ( H1 a H6 ) */
h1 {
    color: rgb(36, 81, 187);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(6, 6, 114, 0.479);
}

h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(0, 9, 101);
    color: rgb(54, 158, 219);
    border-radius: 20px;
    border-width: fit-content;

}

/* ---------------------------------------------------------------------------
    @MEDIA ESTILOS DE ENCABEZADOS */

@media(max-width:768px) {
    h1 {
        font-size: 60px;
    }

    h5 {
        font-size: 20px;
    }
}

/*--------------------------------------------------------------------------  */

/* ESTILOS INFO */
.info {
    margin-top: 20px;
    display: flex;
}

.info div {
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    padding-right: 2px;
    padding-left: 6px;
    margin: 5px 5px;
}

.textinfo {
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(5%, rgba(242, 246, 248, 1)), color-stop(42%, rgba(216, 225, 231, 1)), color-stop(73%, rgba(181, 198, 208, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(242, 246, 248, 1) 5%, rgba(216, 225, 231, 1) 42%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
    font-size: 20px;
    font-family: var(--FuentePrincipal);
    border-radius: 20px;
    font-weight: 500;
    color: rgb(27, 44, 88);
}

.infoto {
    background-image: url(../img/FotoPlato1.png);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 400px;
    border-radius: 20px;
    max-width: 100%;
}

.confoto {
    background-image: url(../img/FotoPlato5.png);
    background-size: cover;
    background-repeat: none;
    /* padding-bottom: 400px; */
    border-radius: 20px;
}

.infohistoria h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
}

.infohistoria h3 {
    justify-content: center;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    text-decoration: underline;
}

.infohistoria p {
    font-size: 20px;
}

.infohistoria img{
    object-position: center;
    max-width: 100%;
}
/* ---------------------------------------------------------------------------
    @MEDIA ESTILOS INFO */

@media(max-width:768px) {
    .info {
        display: block;
        padding: 10px;
        margin: 20px;
    }

    .info div {
        max-width: 100%;
    }
}

@media(max-width:480px) {
    .info {
        margin: 0px;
    }

    .info div {
        max-width: 100%;
    }
}

/*-------------------------------------------------------------------------  */

/* ESTILOS SECCION IMAGENES (PLATOS) */
/* .platos img {
    border-radius: 15px;
} */

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 500%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
    border-radius: 10px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/* -------------------------------------------------------------------------
    @MEDIA ESTILOS SECCION IMAGENES / PLATOS */

/* @media(max-width:768px) {
    .platos {
        display: block;
        padding-left: 25px;
        margin: 50px;
        justify-content: center;
    }

    .platos div {
        max-width: 100%;
    }
}

@media(max-width:480px) {
    .platos {
        margin: 0px;

    }

    .platos div {
        max-width: 100%;
    }
} */

/* ------------------------------------------------------------------------ */

/* ESTILOS SECCION EXTRA */
.extra {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.extra h3 {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 800;
}

.extra h3::before {
    content: url(../img/infoicon.png);
    padding-top: 40px;
    padding-right: 10px;
    margin-top: 10px;
}

.extra p {
    font-size: 20px;
    padding-left: 50px;
    font-weight: 400;
}

/* -----------------------------------------------------------------------------------
    @MEDIA SECCION EXTRA */

@media(max-width:768px) {
    .extra h3 {
        text-align: center;
        display: block;
    }

    .extra h3::before {
        display: none;
    }

    .extra p {
        padding-left: 25px;
    }
}

@media(max-width:480px) {
    .extra p {
        text-align: center;
        padding-left: 10px;
    }
}


/*------------------------------------------------------------------------------------  */

/* SECCION SOCIAL / FOOTER */
.infoot {
    display: grid;
    grid-template-columns: 50% 50%;
}

.insta {
    padding-top: 10px;
    padding-left: 100px;
}

.facebook {
    padding-top: 8px;
    padding-left: 100px
}

footer h2 {
    text-align: center;
    font-size: 36px;
}

.kunfoot div {
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------
    @MEDIA SECCION SOCIAL  */

@media(max-width:768px) {

    .insta {
        padding-left: 100px;
    }
}

@media(max-width:480px) {

    .insta {
        padding-left: 40px;
    }

    .facebook {
        padding-left: 32px
    }
}

/*---------------------------------------------------------------------------------------------------  */