/* Estilos base para todos los tamaños de pantalla */
a{
  text-decoration: none;
}
.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

html {
  background: #B4CFFA;
}

body {
  margin: 0;
  padding: 0;
} 

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* ------------------------------------------------ */

.navbar {
  background-color: #dfa65d;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .navbar {
    position: absolute;
    align-items: center;
  }

}

/* Estilos adicionales para mover el navbar al desplazarse */
@media screen and (max-width: 400px) {
  .navbar.scroll {
    top: -80px;
  }
}

h1 {
  color: rgb(226, 186, 8);
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  padding-top: 40px;
  margin-top: 30px;
  /* padding-right: 100px; */
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.cabesa {
  background-size: cover;
  background-repeat: none;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

h5 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  background-color: #dfa65d;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  header.cabesa {
    text-align: center;
  }

  header.cabesa img {
    width: 95%;
    max-width: 100%;
    /* height: auto; */
   align-items: center;
   justify-self: center;
  }

  img {
    width: 95%;
  }

  h1 {
    font-size: 36px;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
} */

.calendar {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-right: 64px;
  font-family: Arial, sans-serif;
}

.month {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekday {
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px;
  flex-basis: calc(100% / 7);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 9px;
}

.day {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.empty {
  width: 100%;
  box-sizing: border-box;
}

.textinfo {
  text-align: center;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: #F5E8C7;
  flex-basis: 50%;
  border: 1px solid black;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

/* 
.calendar {
  width: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  flex-basis: 50%;
  text-align: center;
}

.calendar .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.calendar #prevBtn,
.calendar #nextBtn {
  border: none;
  background-color: transparent;
  font-size: 10px;
  cursor: pointer;
}

.calendar #prevBtn {
  margin-right: 10px;
}

.calendar #nextBtn {
  margin-left: 10px;
}

th,
td {
  padding: 5px;
  text-align: center;
}

td {
  border: 1px solid #000000;
  cursor: pointer;
}

.selected {
  background-color: #6dd197;
}
 */

/* Media queries para tamaños de pantalla pequeños (hasta 768px) */

@media screen and (max-width: 768px) {
  section {
    width: 100%;
    /* Establece el ancho de la sección al 100% de su contenedor */
    padding: 10x;
    /* Asegura que no haya relleno en la sección */
    margin: 0;
    /* Asegura que no haya margen en la sección */
  }

  .cabesa {
    text-align: center;
  }

  .info {
    width: 480px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textinfo {
    position: center;
  }

  .textinfo {
    width: auto;
  }
}

/* Media queries para tamaños de pantalla medianos (769px a 1024px) */

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .contenedor {
    padding: 10px;
  }

  h1 {
    font-size: 44px;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .textinfo {
    width: 80%;
  }

  /* .calendar {
    width: auto;
  } */
}

/* Media queries para tamaños de pantalla grandes (más de 1024px) */

@media screen and (min-width: 1025px) {
  .contenedor {
    padding: 20px;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .textinfo {
    width: 80%;
  }

  /* .calendar {
    width: auto;
  } */
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.2);
}

.ubi::after {
  content: url(../img/pin.png);
}

.call::after {
  content: url(../img/call.png);
}

.reser::after {
  content: url(../img/calendar.png);
}

.gluten::after {
  content: url(../img/kitchen.png);
}

.close::after {
  content: url(../img/not_disturb.png);
}

/* ESTILOS SECCION ALERGENOS */


.alergia {
  display: flex;
  justify-content: center;
  padding: 1px 0;
  text-align: center;
  font-size: 26px;
  background-color: #dfa65d;
  color: rgb(255, 255, 255);
}

.alergia h3 {
  line-height: 1px;
}

.GridAlergenos {
  background-color: #FAC0B5;
  padding-left: 76px;
  padding-right: 76px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.GridAlergenos img {
  border-radius: 100px;
}

/*  MEDIA ESTILOS ALERGENOS ------------------------------------------------ */
@media(max-width:800px) {
  .GridAlergenos {
    width: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    margin: 0 auto;
  }
}

@media(max-width:680px) {


  .GridAlergenos {
    width: 100%;
    padding-left: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    margin: 0 auto;
  }

  .alergia {
    display: block;
    font-size: 20pxpx;
  }
}

.extra {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.extra div {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: #D0FAAD;
}

.extra h3 {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.extra h3::before {
  content: url(../img/infoicon.png);
  padding-top: 40px;
  padding-right: 10px;
  margin-top: 10px;
}

.extra p {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  section {
    width: 100%;
    /* Establece el ancho de la sección al 100% de su contenedor */
    padding: 0;
    /* Asegura que no haya relleno en la sección */
    margin: 0;
    /* Asegura que no haya margen en la sección */
  }

  header {
    width: 100%;
    /* Establece el ancho del div al 100% de su contenedor */
    padding: 0;
    /* Asegura que no haya relleno en el div */
    margin: 0;
    /* Asegura que no haya margen en el div */
  }

  /* Estilos para la imagen dentro del div del encabezado */
  header img {
    width: 100%;
    /* Establece el ancho de la imagen al 100% del div */
    height: auto;
    /* Mantiene la proporción de aspecto */
  }
}

.kunfoot h2 {
  text-align: center;
  font-size: 36px;
}

.kunfoot div {
  text-align: center;
  font-size: 36px;
  display: flex;
  justify-content: space-around;
}

.Gridplatos {
  background-color: #F5E8C7;
  padding-top: 40px;
  /* padding-left: 160px; */
  padding-bottom: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

}

.Gridplatos img {
  border-radius: 10px;
}

@media(max-width:800px) {
  .Gridplatos {
    padding-left: 100px;
    padding-right: 100px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    /* Establece el ancho del div al 100% de su contenedor */
    padding: 0;
    /* Asegura que no haya relleno en el div */
    margin: 0;
    /* Asegura que no haya margen en el div */
  }

  /* Estilos para la imagen dentro del div del encabezado */
  header img {
    width: 100%;
    /* Establece el ancho de la imagen al 100% del div */
    height: auto;
    /* Mantiene la proporción de aspecto */
  }
}

@media(max-width:960px) {
  /* .Gridplatos {
    padding-left: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 0 10;
  } */
}

h4 {
  line-height: 60px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  background: fixed;
  background-color: #dfa65d;
  color: rgb(255, 255, 255);
}

.amas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}